@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
.explanation,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fafafa;
  font-size: 20px;
  line-height: 25px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fafafa;
  font-size: 18px;
  line-height: 25px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fafafa;
  font-size: 16px;
  line-height: 25px;
}

p, .explanation {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.explanation {
  fontfamily: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  color: white;
}

.read-more {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #fafafa;
  line-height: 1;
  text-align: center;
}

.img-feed-title {
  color: black;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

header {
  background-color: #323a45;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}
header .logo {
  height: 50px;
}
header .logo img {
  height: 100%;
}

.img-feed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.read-more {
  background-color: #02bfe7;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.7rem 1.5rem;
}

.card {
  width: 95%;
  border-radius: 4px;
  background-color: #0b3d91;
  padding: 5px;
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.card img {
  width: 100%;
  display: block;
}
.card .explanation {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*# sourceMappingURL=main.css.map */
